<section id="{{ section.slug | slugify }}" class="block block-three-column-1">
  <div class="container">
    <h1 align="center">
      <span class="light">{{ section.headline }}</span>
    </h1>
    <br></br><br></br><br></br>
    <div class="columns">
      <div class="column">
        <img src="{{ section.col_1.image | relative_url }}"
             alt="{{ section.col_1.caption }}"
             loading="lazy"
             style="width: 100%">
        <h3>{{ section.col_1.headline }}</h3>
        <p>{{ section.col_1.content }}</p>
      </div>
      <div class="column">
        <img src="{{ section.col_2.image | relative_url }}"
             alt="{{ section.col_2.caption }}"
             loading="lazy"
             style="width: 100%">
        <h3>{{ section.col_2.headline }}</h3>
        <p>{{ section.col_2.content }}</p>
      </div>
      <div class="column">
        <img src="{{ section.col_3.image | relative_url }}"
             alt="{{ section.col_3.caption }}"
             loading="lazy"
             style="width: 100%">
        <h3>{{ section.col_3.headline }}</h3>
        <p>{{ section.col_3.content }}</p>
      </div>            
    </div>
  </div>
</section>
